<h2 mat-dialog-title>{{ formModeLabels[data.mode] }} editorial</h2>

<mat-dialog-content class="editorial-form-modal">
  @if (error()) {
    <p class="editorial-form-modal__error">{{ error() }}</p>
  }

  <form [formGroup]="form" class="editorial-form-modal__form grid">
    <mat-form-field appearance="outline" class="col-12">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" autocomplete="off" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-12 col-md-6">
      <mat-label>País</mat-label>
      <mat-select formControlName="country">
        @for (country of countries; track country) {
          <mat-option [value]="country">{{ countryLabels[country] }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-12 col-md-6">
      <mat-label>Web (opcional)</mat-label>
      <input matInput formControlName="website" autocomplete="off" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-12">
      <mat-label>Logo (URL, opcional)</mat-label>
      <input matInput formControlName="logo" autocomplete="off" />
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button type="button" (click)="cancel()">Cancelar</button>
  <button mat-flat-button type="button" color="tertiary" [disabled]="saving()" (click)="save()">
    @if (saving()) {
      <mat-spinner diameter="18" />
    } @else {
      <mat-icon>save</mat-icon>
    }
    Guardar
  </button>
</mat-dialog-actions>
