@use '@angular/material' as mat;
@use './theme-colors' as my-theme;

html {
  color-scheme: dark;

  @include mat.theme((
    color: (
      primary: my-theme.$primary-palette,
      tertiary: my-theme.$tertiary-palette,
      theme-type: dark,
    ),
    typography: (
      brand-family: 'Fraunces',
      plain-family: 'Inter',
    ),
    density: 0,
  ));
}